objs/
dist/README-SDL.txt
dist/README-glm.txt
dist/README-libpng.txt
dist/README-libogg.txt
dist/README-libopus.txt
dist/README-opusfile.txt
dist/game.ilk
dist/game.pdb
dist/SDL2.dll
dist/game
dist/game.exe
scenes/show-meshes*
scenes/show-scene*
*.blend[0-9]
